<%
  google_key='ABQIAAAAnfs7bKE82qgb3Zc2YyS-oBT2yXp_' + 
    'ZAY8_ufC3CFXhHIE1NvwkxSySz_REpPq-4WZA27OwgbtyR3VcA'
  full_page ||= false
  show_action ||= nil
  new_action ||= nil
  data ||= nil
%>
<div id="map"
  align="right"
  style="border: 1px solid #979797;
		 min-width: 200px;
		 min-height: 400px;
		 height: 400px;
		 background-color: #FFFFFF;
		 border: 1px solid #999999;
		 padding: 10px;"></div>
		
<script
  src="http://maps.google.com/maps/api/js?sensor=false"
  type="text/javascript"></script>
<script type="text/javascript">
  var infowindow = new google.maps.InfoWindow();
	var content = "";
	
	
	
 $(document).ready(function() {

		var latlng = new google.maps.LatLng(48.173, 16.413);
		    var myOptions = {
		      zoom: 8,
		      center: latlng,
		      mapTypeControl: true,
		      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
		      mapTypeId: google.maps.MapTypeId.ROADMAP
		    };
	var MAP = new google.maps.Map(document.getElementById("map"),myOptions);
	$.getJSON("/lists",
	  
	function(data) {
		$.each(data, function(i,item){
					var name = data[i].pin.title + " " + data[i].pin.id;
					var lat = data[i].pin.latitude;
					var lng = data[i].pin.longitude;
		   		var point = new google.maps.LatLng(parseFloat(lat),parseFloat(lng));
					// map.bounds.extend(point);
					// add the marker itself
					var marker = new google.maps.Marker({
					    position: point,
					    map: MAP,
					    title: name,
					 });
					google.maps.event.addListener(marker, 'click', function() {
						MAP.panTo(point);
						$.getJSON("/lists/"+ data[i].pin.id,
						function(list) {
						content = '<div>Company: ' + list.pin.company + '</div>';
						content += '<div>Title: ' + list.pin.title + '</div>';
						content += '<div>Description: ' + list.pin.description + '</div>';
						});
						infowindow.setContent(content);
						infowindow.open(MAP,marker);
					});
					//infowindow.setContent(name);
					
		    });
	});


});
</script>