body { background: #EDEAE1 ; font-size: 12px;
	font-family:"Verdana","sans-serif";
	}

html, body { height:100%;}




#map {
	border: 0px solid #979797;
	min-height: 400px;
	height: 400px;
	padding:0;
	margin:0;
	float: none;
	white-space:nowrap;
	position:relative;
	width:100%;
}


#searchlist {
	padding:5px 0px;
	margin-left: 20px;
  	height:20px;
	float:left;
	font-size:12px;
	
	/*width:200px; */
}

.inactive{
	color:#666666;
}
.button { 
	
	color:#050;
	font-size:12px;
}

.buttonef {
	float:left; 
  	margin:5px 10px;
	
}

.hideme a {
	color:black;
	
}

h2 h3 h4 {
	border-bottom: 0 none;
	font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
	color:#606060;
	
}


h2 {
	background:url("yaml/navigation/images/shiny_buttons/background.png") repeat-x scroll right center #C0C0C0;
	display:block;
	letter-spacing:-1px;
	font-size:20px;
}

#topnav {
	font-size:20px;
	z-index:10;
	/*width:720px; */
}

#topnav a {
	text-decoration:none;
	color:black;
	
}

#topnav a:hover {
	color:red;
}

#railsmsg {
	line-height:30px;
	
	width:250px;
	float:left;
}

#railsmsg p{
	text-align:center;
	
}
#indexlist {
	float:left;
	width:280px;
	padding: 0px 0px 10px 0px;
}

#indexlist .key {
	float:left;
	width:80px;
}