* {
	padding:0;
	margin:0;
}



#map {
	border: 0px solid #979797;
	min-height: 400px;
	height: 400px;
	padding:0;
	margin:0;
	float: none;
	white-space:nowrap;
	position:relative;
	width:100%;
}

#head {
	background:blue;
	width:12em;
	padding-left:10px;
}

#head_menue {
	background:red;
	width:750px;
}


.down_arrow {
	padding: 0px 0px 0px 25px;
	border:0px;
/*--	
	position: static; 
 

	display: block;
	--*/
}

#dropdown {
	font-size: small;
	font-family: arial, helvetica, sans-serif;
	width:750px;
	float:left;
	margin:0;
	position:relative;
	padding:0;
	/*--
	margin-top: 1em;
	
	--*/	
}

#dropdown a {
	padding: 0px 5px;
	text-align:left;
	/*--
	text-align: center;
	display:block;
	border: 1px solid #555;
	white-space:nowrap;
	margin:0;
	padding: 0.3em;
	--*/
	font-size:12px;
	font-weight:bold;
	color:black;
	
}

#dropdown ul {
	list-style:none;
		margin:0;
		padding: 0px;
		float:left;
		width:68px;	/* width of all menu boxes */
		/* NOTE: For adjustable menu boxes you can comment out the above width rule.
		However, you will have to add padding in the "#menh a" rule so that the menu boxes
		will have space on either side of the text -- try it 
		*/
		border:1px solid black;
	
		position:static;
		z-index:999;
		
}


#dropdown li {
	list-style:none;
	position:static;
	min-height: 1px;		/* Sophie Dennis contribution for IE7 */
	float:left;
	width: 68px;
	padding: 0px;

	/*--
	border:1px solid green;

	vertical-align: bottom;		/* Sophie Dennis contribution for IE7 
	display: block;
	
	float:left;
	list-style: none;
	/*--
	padding: 1px 3px;
	
	font: 12px Tahoma, Arial;
	border: 2px solid green;
	border-style:groove;	
	--*/
}
/*--
#dropdown ul ul {
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
}
--*/

#dropdown li a {
	text-decoration: none;
	/*--	
	padding: 0px 5px;
	text-align:left;

	display: block;
	background: white;
	/*-- border: 1px solid black; 
	padding: 3px 5px;					
	width: 50px;
	color: black;
	white-space: nowrap;
	font-weight:bold;
	margin:0; --*/
}

#dropdown li a:hover {
	
}

#dropdown li ul {
	position: absolute;
	float:left;
	/*--
	margin: 0;
	float: left;
	width: auto;
	/*--visibility: hidden; 
	border-top: 1px solid white; 
	float:none;
		padding: 3px 5px;
	z-index:999;
	border: 1px solid red;--*/

}

#dropdown li ul li {
	
	
/*
	float: none;
*/	
}

#dropdown li ul li a {
	display:block;
	background: white;
	
	/*-- width: auto;
	
	padding: 3px 1px;
	
	margin:0; --*/
}

#dropdown li ul li a:hover {
	background: #F5EAA6;
}
