/* @override http://localhost:3000/stylesheets/todo.css */

a#todo_fixed {
	text-decoration: line-through;
	color:gray;
	width: 100%;
	float: left;
	display: block;
}

a#todo_infix {
	text-decoration:underline;
	color:green;
	width: 100%;
	float: left;
	clear: none;
	display: block;
}

a#todo_normal {
	text-decoration: none;
	width: 100%;
	float: left;
}

#todo p {
	width: 100%;
}
div#todo {
	display: block;
	width: auto;
	float: left;
}
a#todo_secure {
	color:red;
	text-decoration: none;
}

#todo_bug {
	color:#005500;
}

/* @group pinshow */
#pinshow {
	background-color: #ebe6dc;
	margin-top: 10px;
	margin-right: 1%;
	margin-left: 1%;
}

#pinshow a {
	text-decoration: none;
	float: none;
	display: block;
	width: 100%;
	background-color: #cbd8c3;
	font-size: 10px;
	position: relative;
	clear: none;
	color: #7686de;
}

#pinshow div p{
	color: navy;
	display: block;
	text-align: left;
	margin-left: 100px;
}

#pinshow div b {
	color: black;
	text-transform: uppercase;
	width: 100px;
	float: left;
	display: inline;
}



/* @end */

/* @group pinindex */

#indexlist a {
	text-decoration: none;
	float: none;
	display: block;
	width: 100%;
	background-color: #cbd8c3;
	font-size: 10px;
	position: relative;
	clear: none;
	color: #7686de;
}

div#indexlist {
	background-color: #ebe6dc;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 1%;
	width: 48%;
}

/* My Comment */

#indexlist div p{
	color: navy;
	display: block;
	text-align: left;
	margin-left: 100px;
}

#indexlist div b {
	color: black;
	text-transform: uppercase;
	width: 100px;
	float: left;
	display: inline;
}



/* @end */

/* @group tabs */
div#debug{
	font-size:10px;
	
}


ul#tab-nav li.current {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

ul#tab-nav li.current a{
	background-color: #FFFFFF;
	color: #000000;
	padding-top: 4px;
	position:relative;
	top:1px;
	border-bottom: 1px solid #FFFFFF;
	
}

ul#tab-nav {
border-bottom:1px solid #66CC66;
font:bold 11px verdana,arial,sans-serif;
list-style-type:none;
margin:1em 0;
padding:3px 10px;
text-align:left;
}

ul#tab-nav li {
	display:inline;
	margin-left:0px;
}


ul#tab-nav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tab-nav a:hover {
	background: none repeat scroll 0 0 #FFFFFF;
}


div#tab1.tab {
	color:blue;
}



#tab-content  {
	font-size:10px;
	
}

#debug {
	font-size:10px;
}
/* @end */
