/* @override http://localhost:3000/stylesheets/todo.css */

a#todo_fixed {
	text-decoration: line-through;
	color:gray;
	width: 100%;
	float: left;
	display: block;
}

a#todo_infix {
	text-decoration:underline;
	color:green;
	width: 100%;
	float: left;
	clear: none;
	display: block;
}

a#todo_normal {
	text-decoration: none;
	width: 100%;
	float: left;
}

#todo p {
	width: 100%;
}
div#todo {
	display: block;
	width: auto;
	float: left;
}


div#indexlist {
	width: 100%;
	border-bottom: 2px dashed gray;
	background-color: #ebe6dc;
	margin-top: 10px;
}

#indexlist div.value {
	float: none;
	clear: none;
	width: 100%;
	color: #797624;
}

#indexlist div.key {
	width: 80px;
	float: left;
	color: #00093f;
}
a#todo_secure {
	color:red;
	text-decoration: none;
}

#todo_bug {
	color:#005500;
}