<h2>User</h2>
<% if user_signed_in?  %>
	<p><%= current_user.email %>.</p> Not You ?
	<%= link_to "Sign out", destroy_user_session_path %>
<% else  %>
	<%= link_to "Sign up",new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
	
<% end  %>

