<h2>Stats</h2>
<div id="col2sub">
<h2>DEBUG col2</h2>
<div class="debug">
<%= debug = debug(params) if Rails.env.development? %>
</div>
</div>
<div id="col2sub">
	<h2>TODO</h2>
	<div id="todo_infix">Col2 tabs</div>
	<p>TODO list in DB</p>
	<div id="todo_secure">implement CAN CAN</div>
	<div id="todo_secure">implement Spinx search</div>
	<div id="todo_fixed">fix "sticky" footer</div>
	<div id="todo_fixed">fix nav css</div>
	<p>suche nach vollzeit</p>

	<p> halb zeit</p>
	<p> Branche</p>
	<p> oder Beruf</p>
	<p> auf Deutsch (l18n)</p>
	<p> Postleitzahl eingabe und radius in km</p>
	<div id="todo_fixed">fix debug_col in ie</div>
	<div id="todo_bug">Name cuted off if put in favorit</div>
	<div id="todo">COL_1 belong to User</div>
	<div id="todo">COL_3 belong to Pins</div>
	<div id="todo">COL_2 belong to Stats</div>
	

	
</div>


