<h1>Jobpins</h1>

<ul id="dropdown">
	<li class="lihead"><a href="#">1
	<%= image_tag("down-arrow.gif", :class=>"down_arrow") %>
		</a>
		<ul id="sub">
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>			
		</ul>
	<li class="lihead"><a href="#">10 
	<%= image_tag("down-arrow.gif", :class=>"down_arrow") %>
			</a>
		<ul id="sub">
			<li><a href="#">20</a></li>
			<li><a href="#">30</a></li>
			<li><a href="#">40</a></li>			
			<li><a href="#">50</a></li>
			<li><a href="#">60</a></li>
			<li><a href="#">70</a></li>			

		</ul>
</ul>
