<div id="main">
  <div id="col1">
    <div id="col1_content" class="clearfix">
      <!-- add your content here -->
<%= render :partial=>"layouts/col1", :locals =>{ :col1=>col1} %>
    </div>
  </div>
  <div id="col2">
    <div id="col2_content" class="clearfix">
      <!-- add your content here -->

<%= render :partial=>"layouts/col2", :locals =>{ :col2=>col2} %>
			
    </div>
  </div>
  <div id="col3">
    <div id="col3_content" class="clearfix">
      <!-- add your content here -->
<%= render :partial=>"layouts/col3", :locals =>{ :col3=>col3} %>
    </div>
    <!-- IE Column Clearing -->
    <div id="ie_clearing"> &#160; </div>
  </div>
</div>
